In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/test-file/tested.csv

## Loading data

In [2]:
data = pd.read_csv('/kaggle/input/test-file/tested.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## Preproccessing

In [3]:
data = data.fillna(0)
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,0,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,0,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,0,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,0,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,0,S

In [4]:
list(set(data['Cabin']))

[0,
 'D21',
 'F4',
 'D40',
 'D15',
 'C54',
 'C101',
 'C51',
 'A34',
 'B51 B53 B55',
 'C62 C64',
 'A18',
 'B36',
 'G6',
 'E34',
 'D',
 'B71',
 'D10 D12',
 'B45',
 'C22 C26',
 'B58 B60',
 'D30',
 'C130',
 'D34',
 'D19',
 'C105',
 'D37',
 'B24',
 'C89',
 'B78',
 'E60',
 'C32',
 'B69',
 'A21',
 'F G63',
 'B11',
 'E50',
 'C55 C57',
 'B41',
 'A11',
 'C86',
 'E45',
 'C85',
 'A29',
 'E31',
 'C80',
 'C23 C25 C27',
 'D22',
 'E39 E41',
 'F33',
 'B57 B59 B63 B66',
 'F E57',
 'B10',
 'C39',
 'F E46',
 'B26',
 'D38',
 'C28',
 'D43',
 'C53',
 'C6',
 'B52 B54 B56',
 'C7',
 'B61',
 'E52',
 'A9',
 'C116',
 'C46',
 'E46',
 'F2',
 'C97',
 'C31',
 'F',
 'C132',
 'C78',
 'D28',
 'C106']

In [5]:
list(set(data['Embarked']))

['S', 'Q', 'C']

In [6]:
x = data.drop(columns =['PassengerId', 'Survived', 'Name', 'Cabin', "Ticket"])
y = data['Survived']

In [7]:
x.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  34.5      0      0   7.8292        Q
1       3  female  47.0      1      0   7.0000        S
2       2    male  62.0      0      0   9.6875        Q
3       3    male  27.0      0      0   8.6625        S
4       3  female  22.0      1      1  12.2875        S

In [8]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
x['Sex'] = lb.fit_transform(x['Sex'])
x['Embarked'] = lb.fit_transform(x['Embarked'])
x.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  34.5      0      0   7.8292         1
1       3    0  47.0      1      0   7.0000         2
2       2    1  62.0      0      0   9.6875         1
3       3    1  27.0      0      0   8.6625         2
4       3    0  22.0      1      1  12.2875         2

In [9]:
from sklearn.preprocessing import StandardScaler    
scaler = StandardScaler()
x = scaler.fit_transform(x)

## Splitting

In [10]:
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.2, random_state=50)

## SVM

In [11]:
from sklearn.svm import SVC
svm = SVC()
svm.fit(x_train,y_train)

SVC()

In [12]:
ypred = svm.predict(x_test)

In [13]:
print(f'Accuracy : {np.sum(ypred == y_test)/len(y_test)*100}%')

Accuracy : 98.80952380952381%